.app {
  width: 90%;
  max-width: 800px;
  margin: auto;
  background-color: #eee;
  min-height: 100vh;
  padding: 1rem;
}
.app__header {
  text-align: center;
  background-color: #eee;
}
img {
  max-width: 150px;
}
